<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom CSS -->
<link href="/css/heroic-features.css" rel="stylesheet" />
	<title>endereco</title>
</head>
<body>
	<th:block th:include="fragment/header :: header"></th:block>
	<main class="main-container">
		<div class="container">
				<h2>endereco List</h2>
				<a href="/endereco/new">+</a>
				<table class="table table-striped">
					<tr>
						<th>Id</th>
						<th>cidade</th>
						<th>estado</th>
						<th>pais</th>
						<th>View</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					<tr th:each="endereco : ${endereco}">
						<td th:text="${endereco.id}">Id</td>
						<td th:text="${endereco.city}">cidade</td>
						<td th:text="${endereco.estado}">estado</td>
					    <td th:text="${endereco.pais}">pais</td>
						<td><a th:href="${ '/endereco/' + endereco.id}">View</a></td>
						<td><a th:href="${'/endereco/edit/' + endereco.id}">Edit</a></td>
						<td><a th:href="${'/endereco/delete/' + endereco.id}">Delete</a></td>
					</tr>
				</table>
			</div>
	</main>

	<script th:src="@{/js/core.js}" ></script>

</body>
</html>
